body {
    background: green;
}

/* 大标题样式 */
h1, h2 {
    color: blueviolet;
    border: solid 1px #000;
    background-color: aqua;
}
#container{
    width: 200px;
    height: 200px;
    background-color: #0f0
}
.msg {
    color: coral;
}
